/*Bloque Bienvenida*/
.content__bienvenida{
    width: 100%;
    padding: 117px 20px 30px;
}

.container__bloq-bienvenida{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10PX;
    margin: 16px;
    background-image: url(../img/fondos/fondo_trans2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgb(101, 99, 99);
}

.img__services-circ{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.img__services-circ img{
    width: 50%;
}

.content__txt{
    width: 90%;
    margin: 0 auto;
}

.pregunta{
    font-size: 3em;
    color: #615E5A;
    padding: 14px;
}

.txt__description{
    padding: 23px;
    width: 90%;
    font-size: 1.2em;
    border-radius: 20px;
    color: #636363;
}

/*Cards*/
.content__cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 580px);
    align-items: center;
    justify-content: center;
    gap: 79px;
    margin: 62px 0px;
}

.card{
    position: relative;
} 

.card__content {
    border-radius:25px;
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0 auto; 
    box-shadow: 2px 4px 10px rgb(122, 122, 122);
}

.bg__icon-cards{
    background-color: #1D3962;
    border-radius: 50%;
    width: 97px;
    height: 96px;
    text-align: center;
    padding: 15px;
}

.icon__cards-bienvenida{
    width: 60px;
}

.bg__soporte{
    background-image: url(../img/iconos/soporte.png);
    background-size: cover;
}

.bg__cctv{
    background-image: url(../img/iconos/cctv.png);
    background-size: cover;
}

.bg__cctv{
    background-image: url(../img/iconos/cctv.png);
    background-size: cover;
}

.bg__acceso-remoto{
    background-image: url(../img/iconos/acceso-remoto.png);
    background-size: cover;
}

.bg__mac{
    background-image: url(../img/iconos/equip-mac.png);
    background-size: cover;
}

.card__content-img{
    margin-top: 12px;
}

.card__content .card__content-text{
    padding: 2px;
    width: 200px;
    height: 60px;
    color:#615E5A;
    font-size: 1em;
    font-weight: bold;
    background-color: #d4d3d2;
    border-radius: 10px;
    text-align: center;
}

.card__overlay {
    border-radius:25px;
    width: 80%;
    height: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    margin: 0 auto;
    scale: 30s;
}

.bg__soporte2{
    background-image: url(../img/iconos/soporte2.png);
    background-size: cover;
}

.bg__acceso-cctv2{
    background-image: url(../img/iconos/cctv2.png);
    background-size: cover;
}

.bg__acceso-remoto2{
    background-image: url(../img/iconos/acceso-remoto2.png);
    background-size: cover;
}

.bg__equipos-mac{
    background-image: url(../img/iconos/equip-mac2.png);
    background-size: cover;
}

.card:hover .card__overlay {
    opacity: 1;
    transform: translate(0 -300);
    transition-duration: 1000ms;
    backface-visibility: hidden;
}

.p__description-cards{
    padding: 0px 20px;
    color: #484542;
    background-color: #d4d3d2;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    font-size: .9em;
    opacity: .9;
    font-weight: bold;
}