.content__preg-frec{
    width: 100%;
    padding: 110px 0px 44px;
}

.center__servicios{
    width: 80%;
    margin: 0 auto;
}

.content__preg-frec h1{
    padding: 27px 15px;
    font-size: 3em;
    color: #D0E7E5;
}

.txt__desc-preg__fec{
    display: inline-block;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 15px;
    color: #F1F1E6;
    line-height: 37px;
}

.conten__preguntas{
    width: 78%;
    margin: 0 auto;
}

.title__pregunta{
    display: flex;
    margin: 15px 0;
}

.content__txt-pregunta{
    width: 26%;
}

.txt__pregunta {
    padding: 20px 0px;
    color:#F1F1E6;
    font-size: 1.5em;
    font-weight: bold;
}

.txt_resp-preg{
    width: 85%;
    font-size: 1em;
    color:#F1F1E6;
    padding: 5px;
    line-height: 30px;
}

.logos-preguntas-frec img{
    width: 100px;
    height: 80px;
}
